@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=WindSong:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'inter', 'sans serif';
}

a {
    text-decoration: none;
    color: green;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.bold {
    font-weight: 600;
}

.gbBlue {
    background-color: #1158b5;
}

/* HEADER */

header {
    /*background-color: aqua;*/
    padding: 15px;
}

.navHeader {
    /*background-color: aquamarine;*/
    width: 50%;
}

.gap {
    gap: 20px;
    flex-direction: row;
}

.hero {
    height: 100vh;
}

.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}

.p {
    height: 45%;
    width: 45%;
    color: #f3c827;
}

h3 {
    width: 100%;
    margin-bottom: 32px;
}

.width30 {
    width: 267px;
}

.width100 {
    width: 5%;
}

section,footer {
    padding-top: 42px;
    padding-bottom: 42px;
}

.p16 {
    padding: 16px;
}

